@keyframes lights {
    0% {
      color: var(--color-bg-base);
      text-shadow:
        0 0 1em hsla(200, 100%, 50%, 0.2),
        0 0 0.125em hsla(200, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
  
    30% {
      color: var(--color-secondary);
      text-shadow:
        0 0 1em hsla(200, 100%, 50%, 0.5),
        0 0 0.125em hsla(200, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
  
    40% {
      color: var(--color-bg-base);
      text-shadow:
        0 0 1em hsla(200, 100%, 50%, 0.5),
        0 0 0.125em hsla(200, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
  
    70% {
      color: var(--color-secondary);
      text-shadow:
        0 0 1em hsla(200, 100%, 50%, 0.5),
        0 0 0.125em hsla(200, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
  
    100% {
      color: var(--color-secondary);
      text-shadow:
        0 0 1em hsla(200, 100%, 50%, 0.2),
        0 0 0.125em hsla(200, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
  }
  
  .title-text {
    text-transform: uppercase;
    animation: lights 5s 0ms linear infinite;
  }
  