@use "variables" as *;

body {
    margin: 0;
    padding: 0;
    font-size: $font-size-mobile;
    line-height: $line-height;
    background-color: $color-bg-base;
    color: $color-text-base;
}

h1,
h2,
h3 {
    color: $color-primary;
    margin-bottom: $spacing-medium-mobile;
}

.container {
    padding: $spacing-medium-mobile;
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: $breakpoint-sm) {
    body {
        font-size: $font-size-mobile;
        padding: $spacing-small-mobile;
    }

    h1,
    h2,
    h3 {
        margin-bottom: $spacing-small-mobile;
    }

    .container {
        padding: $spacing-small-mobile;
    }
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    body {
        font-size: $font-size;
        padding: $spacing-medium;
    }

    h1,
    h2,
    h3 {
        margin-bottom: $spacing-medium;
    }

    .container {
        padding: $spacing-medium;
        max-width: 750px;
    }
}

@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    body {
        font-size: $font-size-large;
        padding: $spacing-large;
    }

    h1,
    h2,
    h3 {
        margin-bottom: $spacing-large;
    }

    .container {
        padding: $spacing-large;
        max-width: 960px;
    }
}

@media (min-width: $breakpoint-lg) {
    body {
        font-size: $font-size-large;
        padding: $spacing-large;
    }

    .container {
        padding: $spacing-large;
        max-width: 1280px;
    }
}
